@font-face {
    font-family: 'Raleway';
    src: url("./Raleway-VariableFont_wght.ttf");
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Raleway';
    background: url('./icon.png');
}